<!DOCTYPE html>
<html>
<head>
    <title>Изменение видеокассеты</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Изменение видеокассеты</h1>
     <form action="/videocassette/edit" method="POST">
        <input type="hidden" name="ID_Videocassette" value="{{videocassette.ID_Videocassette}}" />
        
        <label>Название</label><br>
        <input name="Title" value="{{videocassette.Title}}" placeholder="Введите название" class="field" required autofocus/><br>

        <label>Жанр</label><br>
        <input name="Genre" value="{{videocassette.Genre}}" placeholder="Введите жанр" class="field" required/><br>

        <label>Страна</label><br>
        <input name="Country" value="{{videocassette.Country}}" placeholder="Введите страну" class="field" required/><br>

        <label>Год</label><br>
        <input name="Year" type="year" value="{{videocassette.Year}}" placeholder="Введите год" class="field" required/><br>

        <label>Режиссёр</label><br>
        <input name="Director" value="{{videocassette.Director}}" placeholder="Введите режиссёра" class="field" required/><br>

        <label>Наличие</label><br>
        <input name="Availability" value="{{videocassette.Availability}}" placeholder="Введите наличие" class="field" required/><br>

        <label>Ограничение</label><br>
        <input name="Limitation" type="number" min="0" max="18" value="{{videocassette.Limitation}}" placeholder="Введите ограничение" class="field" required/><br>

        <label>Цена/Сутки</label><br>
        <input name="Price_Day" type="number" min="0" value="{{videocassette.Price_Day}}" placeholder="Введите цену в сутки" class="field" required/><br>
        
        <label>Залог</label><br>
        <input name="Deposit" type="number" min="0" value="{{videocassette.Deposit}}" placeholder="Введите залог" class="field" required/><br>

        <input type="submit" value="Изменить" />
     </form>
     <a href="/videocassette">К списку видеокассет</a><br><br><br>
</body>