<!DOCTYPE html>
<html>
<head>
    <title>Список видеокассет</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список видеокассет</h1>
    <p><a href="/videocassette/create">Добавить видеокассету</a></p>
    <table>
        <tr><th>ID_Видеокассеты</th><th>Название</th><th>Жанр</th><th>Страна</th><th>Год</th><th>Режиссёр</th>
            <th>Наличие</th><th>Ограничение</th><th>Цена/Сутки</th><th>Залог</th></tr>
        {{#each videocassette}}
            <tr>
                <td>{{this.ID_Videocassette}}</td>
                <td>{{this.Title}}</td>
                <td>{{this.Genre}}</td>
                <td>{{this.Country}}</td>
                <td>{{this.Year}}</td>
                <td>{{this.Director}}</td>
                <td>{{this.Availability}}</td>
                <td>{{this.Limitation}}</td>
                <td>{{this.Price_Day}}</td>
                <td>{{this.Deposit}}</td>
                <td>
                    <a href="/videocassette/edit/{{this.ID_Videocassette}}">Изменить</a> /
                    <a href="/videocassette/delete/{{this.ID_Videocassette}}" method="POST" style="display:inline;">Удалить</a>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>