<!DOCTYPE html>
<html>
<head>
    <title>Изменение менеджера</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Изменение менеджера</h1>
     <form action="/managers/edit" method="POST">
        <input type="hidden" name="ID_Manager" value="{{manager.ID_Manager}}" />
        
        <label>Фамилия</label><br>
        <input name="Surname" value="{{manager.Surname}}" placeholder="Введите фамилию" class="field" required/><br>

        <label>Имя</label><br>
        <input name="Name" value="{{manager.Name}}" placeholder="Введите имя" class="field" required/><br>

        <label>Отчество</label><br>
        <input name="Patronymic" value="{{manager.Patronymic}}" placeholder="Введите отчество" class="field" required/><br>

        <label>Телефон</label><br>
        <input name="Phone" value="{{manager.Phone}}" placeholder="Введите телефон" class="field" required/><br>

        <input type="submit" value="Изменить" />
     </form>
     <a href="/managers">К списку менеджеров</a><br><br><br>
</body>